.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(102, 102, 102, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-inner {
    position: relative;
    padding: 50px;
    width: 100%;
    max-width: 640px;
    background-color: white;
  }
  
  .popup-inner .close-btn {
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    margin: 10px 0;
    padding: 10px 15px;
    color: white;
    background-color: #2ba4c2;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    border-radius: 15px;
    box-shadow: 0 5px #999;
  }

  .popup-inner .close-btn:hover {
    background-color: #105a87;
    transition: background-color 0.5s;
  }

  .popup-inner .close-btn:active {
    background-color: #105a87;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }