/* DEFAULT STYLING */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.avatar-section {
  border: 2px solid #6a5acd;
  margin-bottom: 1%;
}

/* GAME STATS STYLE */
.game-stats-section {
  border: 2px solid #6a5acd;
  background-color: #61dafb;
  width: 90%;
  margin: 10px;
  /* transform: translate(30%, 0); */
}

.hangman-section {
  border: 2px solid #6a5acd;
  background-color: #61dafb;
  width: 90%;
  margin: 10px;

  /* transform: translate(30%, 0); */
}

.word-section {
  border: 2px solid #6a5acd;
  background-color: #61dafb;
  /* width: fit-content; */
  width: 90%;
  margin: 10px;
  display: inline-block;
  /* transform: translate(30%, 0); */
}

.letter {
  border-bottom: 3px solid #6a5acd;
  display: inline-flex;
  justify-content: center;
  margin: 0px 5px 5px;
  width: 20px;
}

.letter::before {
  content: " ";
}

.letter::after {
  content:" ";
}

.selection-display-section {
  border: 2px solid #6a5acd;
  background-color: #61dafb;
  width: 90%;
  margin: 10px;
  display: inline-block;

  /* transform: translate(30%, 0); */
}

.keyboard-section {
  border: 2px solid #6a5acd;
  background-color: #61dafb;
  width: 90%;
  margin: 10px;
  display: inline-block;

  /* transform: translate(30%, 0); */
}

/* BUTTONS */
.start-game-btn {
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0;
  padding: 10px 15px;
  color: white;
  background-color: #2ba4c2;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.start-game-btn:hover {
  background-color: #105a87;
  transition: background-color 0.5s;
}

.start-game-btn:active {
  background-color: #105a87;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.game-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap ; */
  font-family: 'Just Another Hand', cursive;
  font-size: 25px;
}

.show-area{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* .play-area {
  display: inline-grid;
  grid-template-columns: 3fr 1fr;
} */

.lives-left {
  font-size: 30px;
  font-family: 'Just Another Hand', cursive;
}

.game-status {
  font-size: 30px;
  font-family: 'Just Another Hand', cursive;
}
/* FONTAWESOME ICONs*/

/* GAME OVER */
.fa-heart-crack {
  color: #ff1c1c;
}

/* WIN */
.fa-trophy {
  color: #f7a202;
}

@media (max-width: 750px) {
  .game-container {
    display: block;
    /* flex-wrap: wrap ; */
  }
}